@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-primary: #121212;
  --color-secondary: #f0f0f0;
  --color-detail: #c0c0c0;
  --color-text: #212121;

  --color-background-dark: #121212;
  --color-primary-dark: #f0f0f0;
  --color-secondary-dark: #2c2c2c;
  --color-detail-dark: #4a4a4a;
  --color-text-dark: #ffffff;
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@layer base {
  body {
    @apply bg-background dark:bg-background-dark transition-colors duration-500;
    font-family: 'Inter', sans-serif;
  }
}