@import "tailwindcss";

@theme {
  --color-background: #F3EDE4;
  --color-primary: #6F4E37;
  --color-secondary: #A0522D;
  --color-detail: #D2691E;
  --color-text: #2B1B12;

--color-background-dark: #1A0B0E;   /* vinho quase preto */
--color-primary-dark:    #301520;   /* vinho profundo */
--color-secondary-dark:  #4A1F2E;   /* bordô */
--color-detail-dark:     #E63946;   /* vermelho vibrante */
--color-text-dark:       #FADADD;   /* rosa claro suave */
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@layer base {
  body {
    @apply bg-background dark:bg-background-dark transition-colors duration-500;
    font-family: 'Inter', sans-serif;
  }

}